<div class="row justify-content-md-center col-md-auto">

        <div class="dropdown">
            <button class="mt-1 mb-1 ml-1 mr-1 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SI & CI
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

              <button class="dropdown-item" data-toggle="collapse" href="#collapsesi" role="button" aria-expanded="false"  >
                  Simple Interest
                </button>
              <button class="dropdown-item" data-toggle="collapse" href="#collapseci" role="button" aria-expanded="false" aria-controls="collapseExample" >
                  Compound Interest</button>
            </div>
        </div>

        <div class="dropdown">
            <button class="mt-1 mb-1 ml-1 mr-1 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Profit & Loss
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_profit" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    Profit(%) & Loss(%)</button>
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_sp" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    SP</button>
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_cp" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    CP</button>
            </div>
        </div>

        <div class="dropdown">
            <button class="mt-1 mb-1 ml-1 mr-1 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Vol & Surface Area
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_cube" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    Cube</button>
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_cuboid" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    Cuboid</button>
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_cylinder" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    Cylinder</button>
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_cone" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    Cone</button>
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_sphere" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    Sphere</button>
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_hsphere" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    Hemisphere</button>
                
            </div>
        </div>

        <div class="dropdown">
            <button class="mt-1 mb-1 ml-1 mr-1 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Percentage
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_percent_i" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    % increase/decrease</button>
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_percent_p" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    Population</button>
                <button class="dropdown-item" data-toggle="collapse" href="#collapse_percent_d" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    Depreciation</button>
            </div>
        </div>

        <a class="mt-1 mb-1 ml-1 mr-1 btn btn-secondary btn-sm " data-toggle="collapse" href="#collapse_hcf_lcm" role="button" aria-expanded="false" aria-controls="collapseExample" >
        HCF & LCM
        </a>

        <a class="mt-1 mb-1 ml-1 mr-1 btn btn-secondary btn-sm " data-toggle="collapse" href="#collapse_perm_c" role="button" aria-expanded="false" aria-controls="collapseExample" >
            P & C
        </a>
        
</div>
